<mat-card>
    <h1 class="text-muted text-center">
        <span>Add employee</span>
    </h1>
</mat-card>
<mat-card class="mt-2">

    <div class="container">


        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">


            <div class="row">
                <div class="col-md-6">

                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input matInput type="text" formControlName="firstname" required name="firstname">
                    </mat-form-field>

                </div>
                <div class="col-md-6">

                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input matInput type="text" required formControlName="lastname" name="lastname">
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">

                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" formControlName="email" required name="email">
                    </mat-form-field>

                </div>
                <div class="col-md-6">

                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input matInput type="text" formControlName="username" required name="username">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">

                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password" required name="password">
                    </mat-form-field>

                </div>
               
            </div>

           




            <button type="submit" mat-raised-button color="primary" class="btn  btn-block m-2">
                <span>Add Employee</span>
            </button>

        </form>

        <button mat-raised-button color="accent" (click)="reset()" class="btn  btn-block m-2">Reset</button>



    </div>

</mat-card>