<div class="container-fluid">

    <div class="row">
    
    <div class="col-md-3">
    <mat-card>
        <div class="list-group m-2">
            <button type="button" class="list-group-item list-group-item-action active" routerEmployee="/student">
                <i class="fa fa-user m-2"></i>  Student
            </button>
            <button type="button" class="list-group-item list-group-item-action" routerLink="/student/student-add"><i class="fa fa-plus m-2"></i>Add Student</button>
            <button type="button" class="list-group-item list-group-item-action" routerLink="/student/student-list"><i class="fa fa-list m-2"></i>Student List</button>
    
          </div>
    </mat-card>
    </div>
    
    <div class="col-md-9">
        <router-outlet></router-outlet>
    </div>
    
    </div>
    
    
    </div>